<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChiHuoLM1</display-name>
  <welcome-file-list>
    <welcome-file>QueryAllAddressServlet</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddAddressServlet</display-name>
    <servlet-name>AddAddressServlet</servlet-name>
    <servlet-class>org.address.servlet.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressServlet</servlet-name>
    <url-pattern>/AddAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAddressByAddressIdServlet</display-name>
    <servlet-name>DeleteAddressByAddressIdServlet</servlet-name>
    <servlet-class>org.address.servlet.DeleteAddressByAddressIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAddressByAddressIdServlet</servlet-name>
    <url-pattern>/DeleteAddressByAddressIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAddressByAddressIdServlet</display-name>
    <servlet-name>QueryAddressByAddressIdServlet</servlet-name>
    <servlet-class>org.address.servlet.QueryAddressByAddressIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAddressByAddressIdServlet</servlet-name>
    <url-pattern>/QueryAddressByAddressIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAddressByPageServlet</display-name>
    <servlet-name>QueryAddressByPageServlet</servlet-name>
    <servlet-class>org.address.servlet.QueryAddressByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAddressByPageServlet</servlet-name>
    <url-pattern>/QueryAddressByPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllAddressServlet</display-name>
    <servlet-name>QueryAllAddressServlet</servlet-name>
    <servlet-class>org.address.servlet.QueryAllAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllAddressServlet</servlet-name>
    <url-pattern>/QueryAllAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddressByAddressIdServlet</display-name>
    <servlet-name>UpdateAddressByAddressIdServlet</servlet-name>
    <servlet-class>org.address.servlet.UpdateAddressByAddressIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressByAddressIdServlet</servlet-name>
    <url-pattern>/UpdateAddressByAddressIdServlet</url-pattern>
  </servlet-mapping>
</web-app>